/**
*
*	Name:			Doran Fonts
*	Version:			1.0
*	Author:			Fereshte Iranshahi and Reza Bakhtiarifard
*	Created on:		Aug 2022
*	Updated on:		Aug 2022
*	Vendor:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت دوران یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
Doran fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/


@font-face {
	font-family: Doran NoEn;
	font-style: normal;
	font-weight: 100;
	src: url('fonts/woff/DoranNoEn-Thin.woff') format('woff'),   
	url('fonts/woff2/DoranNoEn-Thin.woff2') format('woff2');		
}

@font-face {
	font-family: Doran NoEn;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/woff/DoranNoEn-Light.woff') format('woff'),   
	url('fonts/woff2/DoranNoEn-Light.woff2') format('woff2');	
}

@font-face {
	font-family: Doran NoEn;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/woff/DoranNoEn-Regular.woff') format('woff'),   
	url('fonts/woff2/DoranNoEn-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: Doran NoEn;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/woff/DoranNoEn-Medium.woff') format('woff'),   
	url('fonts/woff2/DoranNoEn-Medium.woff2') format('woff2');		 
}

@font-face {
	font-family: Doran NoEn;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/woff/DoranNoEn-Bold.woff') format('woff'),   
	url('fonts/woff2/DoranNoEn-Bold.woff2') format('woff2');		 
}

@font-face {
	font-family: Doran NoEn;
	font-style: normal;
	font-weight: 800;
	src: url('fonts/woff/DoranNoEn-ExtraBold.woff') format('woff'),   
	url('fonts/woff2/DoranNoEn-ExtraBold.woff2') format('woff2');	 
}
