.container-main {
    max-width: 1000px;
    margin: 20px auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.right {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 70%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.39);
    border-radius: 5px;
    height: 100%;
}


.article-photo1,
.article-photo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.article-photo1 img,
.article-photo2 img {
    width: 85%;
    height: 350px;
    object-fit: cover;
}

.title {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    text-shadow: -4px -1px 25px rgba(139, 96, 96, 0.58);
}

.text p {
    width: 85%;
    margin: 20px auto;
    text-align: justify;
    line-height: 2rem;
}

.left {
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 20px;
    text-align: justify;
    line-height: 2rem;
}

.today {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.latest-articles {
    text-decoration: overline underline;
    text-decoration-color: #00addb;
    margin: 20px 0;
    word-spacing: 10px;
}

.entry {
    position: relative;
    margin-bottom: 24px;
    min-height: 50px;
}

.entry img {
    position: absolute;
    left: 0;
    top: 0;
    width: 66px;
    height: 66px;
    text-align: center;
    padding: 4px;
}

.entry-desc {
    position: relative;
    margin-left: 65px;
}

.entry-title {
    margin-bottom: 5px;
}

.entry-title a {
    color: #282828;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
}

.entry-title a:hover {
    color: #00addb;
}

.entry-meta a {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    font-style: italic;
    color: #616161;
}


.comment {
    max-width: 1000px;
    margin: 25px auto;
    padding: 20px;
    height: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 5px;
}


.co-title {
    font-size: 20px;
    text-decoration: underline double #00addb;
}


.user {
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 400;
}

.specs {
    display: flex;
    gap: 10px;
}

.specs input {
    border: 1px solid #eee;
    color: #9b9b9b;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    height: 50px;
    color: #9b9b9b;
    font-size: 15px;
    font-weight: bold;
    cursor: text;
}

.comment textarea {
    border: 1px solid #eee;
    color: #9b9b9b;
    border-radius: 5px;
    line-height: 49px;
    margin-bottom: 30px;
    padding: 10px;
    overflow: auto;
    color: #9b9b9b;
    font-size: 15px;
    font-weight: bold;
    cursor: text;
}

.comment .post-comment {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 100%;
    text-align: center;
    padding: 5px auto;
    color: white;
    background-color: #1e2180;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
}

.comment .post-comment:hover {
    background-color: #00addb;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.specs input:focus,
.comment textarea:focus {
    border: 1px solid #00addb;
    border-radius: 5px;
    outline: none;
}

.specs input::placeholder,
.comment textarea::placeholder {
    transition: opacity 0.3s ease;
}

.specs input:focus::placeholder,
.comment textarea:focus::placeholder {
    opacity: 0;
}